<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets async="false">
			<target name="console" xsi:type="Console" layout="${longdate}(${level:uppercase=true}): ${message}"/>
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="console" />
		</rules>
	</nlog>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="JustWareApi" messageEncoding="Mtom">
					<security mode="Transport">
						<transport clientCredentialType="Basic" />
					</security>
				</binding>
				<binding name="DataConversionService" messageEncoding="Mtom">
					<security mode="Transport">
						<transport clientCredentialType="Basic" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://training.journaltech.com/APITraining/JustWareApi.svc" binding="basicHttpBinding"
				bindingConfiguration="JustWareApi" contract="api.IJustWareApi"
				name="JustWareApi" />
			<endpoint address="https://training.journaltech.com/APITraining/DataConversionService.svc"
				binding="basicHttpBinding" bindingConfiguration="DataConversionService"
				contract="api.extra.IDataConversionService" name="DataConversionService" />
		</client>
	</system.serviceModel>
</configuration>